# Monorepo - 100cims

# Dependencies
node_modules/
.pnp/
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Expo (App)
.expo/
dist/
web-build/
expo-env.d.ts

# Next.js (API)
.next/
out/

# Build outputs
build/
coverage/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug logs
npm-debug.*
yarn-debug.*
yarn-error.*
.pnpm-debug.log*

# macOS
.DS_Store
*.pem

# Environment files
.env*.local
.env

# TypeScript
*.tsbuildinfo
next-env.d.ts

# IDE
.idea
.vscode

# Deployment
.vercel

# Mobile apps
ios/
android/
