@tailwind base;
@tailwind components;
@tailwind utilities;

/* Only applied on web */
@layer base {
    html {
        @apply  bg-background;
    }

    * {
        @apply text-foreground;
        font-family: "Bricolage Grotesque", serif;
    }
}

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
}