@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";
@import "nativewind/theme";

@theme {
  --color-primary: #f43f5e;
  --color-accent: #963ff4;
  --color-background: #ffffff;
  --color-foreground: #050505;
  --color-muted-foreground: #505050;
  --color-link: #2563eb;
  --color-border: #e5e7eb;
}

:root {
  --color-primary: #f43f5e;
  --color-accent: #963ff4;
  --color-background: #ffffff;
  --color-foreground: #050505;
  --color-muted-foreground: #505050;
  --color-link: #2563eb;
  --color-border: #e5e7eb;
}
